html {
    background-color: rgb(86, 86, 86);

    padding: 0px;

    overflow: hidden;
}

body {
    background-color: #696969;
    color: aliceblue;
    background-color: rgb(31, 31, 31);

    min-width: 100vmin;
    max-width: 100vmin;
    aspect-ratio: 1;

    margin: 0px auto;
    padding: 0px;

}

h1 {
    background-color: rgb(31, 31, 31);

    width: 100%;
    max-width: 30%;
    font-size: 3.5em;

    margin: 0px;

    text-align: center;
    font-weight: bold;
}